doctype html
html
  head
    title= event.title
    link(rel='stylesheet', href='/stylesheets/meu-bolao.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-narrow

      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='#') Login with Facebook

      .header-logo: h1= event.title + ' Picks'

      block content
