doctype html
html
  head
    title= event.title
    link(rel='stylesheet', href='/stylesheets/meu-bolao.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='http://backbonejs.org/backbone-min.js')
    script(src='javascripts/site.js')
  body
    .container-narrow

      .masthead
        ul.nav.nav-pills.pull-right
          li
            a(href='#') Login with Facebook

      .header-logo: h1= event.title + ' Picks'

      block content
