extends layout

block content
  div.category-list
    section.category
      ul.fights

  script(type='text/template' id='fight-division')
    h3
      <%= division %>
    p.nominees
      <% _.each(fighters, function(fighter){ %>
      form
        label(class='radio')
          input(type='radio', name!="fight[<%= id %>]", value!='<%= fighter %>')
          | <%= fighter %>
        <% }); %>
        p.entry-actions
          button.btn Save
