extends layout

block content
  div.category-list
    section.category

      each fight in event.fights
        h3
          = fight.division

        p.nominees
          each fighter in fight.fighters
            label(class='radio')
              input(type='radio', name='fight[#{fight.id}]', value=fighter)
              = fighter

        p.entry-actions
          button.btn Save


